
/* SQL Styles */

li {
    margin: 0px;
    padding: 5px 3px 0px 4%;
}

textarea {
    width: 90%;
}

textarea,
.xmm-textarea-title,
#xmm-sql-desc,
#xmm-match-query,
#xmm-match-query-desc{
    margin-top: 10px;
    margin-left: 4%;
    height: 7em;
}

.xmm-textarea {
    margin-bottom: 15px;
}

.info {
    margin: 5px;
    padding: 10px;
    border: 1px solid #CCC;
}

#xmm-step2-list li.depth1 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.xmm-table {
    border: 1px solid #CCC;
    border-collapse: collapse;
    margin: auto;
}

.xmm-table th, .xmm-table td {
    border: 1px solid #CCC;
    padding: 3px;
}

/* Request styles */

#form-details {
    display: none;
    margin: 2em;
}

#xmm-select-request {
    margin: 2em;
}

#xmm-select-request-text {
    margin-right: 10px;
}

#request-info {
    padding: 10px;
    border: 1px solid #CCC;
}

#comments-text {
    padding: 20px 0px 0px 0px;
}

#request-comments {
    width: 100%;
    padding: 5px;
    margin: 5px 0px 20px;
}

/* Styles in blog dashboard */

ul#xmm-blog-quota-request {
    float: right;
    margin-top: 3em !important;
    width: 40% !important;
}

ul#xmm-blog-quota-request li {
    width: 80%;
}
